.left-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: fit-content;
  padding: 0 15px;
  margin-top: 3vh;
  overflow: hidden;
  background-color: #4285f4;
  color: white;
  overflow: hidden;
  margin: 0;
}

.left-menu p {
 text-align: left;
}

.lightgrey {
  color: lightgrey;
  width: 100%;
}

.perchpeek {
  width: 100%;
}

.perchpeek p {
  text-align: center;
}

.main {
  display: flex;
  

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: right;
  flex-direction: column;
  margin: 1em;
  width: 100%;
}

a {
  text-decoration: none;
  color: #4285f4;
}

h1 {
  font-size: 20px;
  font-weight: unset;
}

.move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
  border: solid lightgrey 1px;
}

.move button {
  background-color: #4285f4;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.search-bar {
  display: flex;
  align-items: left;
  padding: 10px;
  margin-top: 0.5em;
}

.search-bar input {
  border: none;
  color: black;
  margin-left: 5px;
  width: 100%;
}

.search-bar input::placeholder {
  color: black;
}

input:focus {
  outline: none;
}

.font {
  font-size: 15px;
}

.modal {
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  padding: 10px;
}

.modal > .header {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  color: white;
}

.modal .header button {
  background-color: transparent;
  border: none;
  color: white;
}

/* button {
  focus: none;
} */

.content select {
  width: 180px;
  padding: 2px;
}

.content input {
  width: 180px;
}

.modal > .content {
  width: 60%;
  padding: 10px 5px;
  
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modal textarea {
  width: 290px;
  height: 100px;
  
}
